<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar producto</title>
    <link rel="stylesheet" href="{% static 'productos/css/estilos.css' %}">
</head>
<body>

    <div class="contenedor">

        <div class="encabezado">
            <h1>Eliminar producto</h1>
        </div>

        <div class="aviso">
            ⚠️ Estás a punto de eliminar este producto.
        </div>

        <p>
            ¿Seguro que deseas eliminar
            <strong>{{ producto.nombre }}</strong>?
        </p>

        {% if producto.categoria %}
        <p>
            Categoría:
            <strong>{{ producto.categoria.nombre }}</strong>
        </p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-eliminar">
                Sí, eliminar
            </button>

            <a href="{% url 'productos:lista' %}" class="btn btn-editar">
                Cancelar
            </a>
        </form>

    </div>

</body>
</html>